 <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button> </ion-button>
    </ion-buttons>
    <ion-title class="text-center text-2xl" >Login</ion-title>
    <ion-buttons slot="end">
      <ion-button>  </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-content class="ios">
    <img src="assets/icon/logo.png" class="mx-auto">
    <ion-item lines="none">
        <ion-label class="my-0 text-2xl" >
          Mobile No.
        </ion-label>
      </ion-item>
      <ion-item ><ion-icon name="call-outline"></ion-icon>
        <ion-input placeholder="Enter Mobile No." type="number">
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="my-0" class="ios">
          OTP
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-input mode="ios" placeholder="Enter OTP" type="number">
        </ion-input>
      </ion-item>
  
      <ion-button style="margin-left: 40%;" mode="ios">Register</ion-button>
  </ion-content>