
<ion-card></ion-card>
   <ion-content class="ios">
  <img  src="assets/icon/logo.png" class="mx-auto -mt-32 -mb-20">
  <ion-item lines="none">
    <ion-title class="text-center text-2xl font-semibold" >    <h2>  Welcome  <br>
    </h2> <SPAN class="text-center text-sm" >  You are just one step away</SPAN>
    </ion-title>
    </ion-item>
 
    <ion-input class="border m-10 rounded-2xl mx-auto w-96 focus:outline-none input" placeholder="Custom input"  >
</ion-input>
<div class="flex">
  <ion-input class="border m-10 rounded-2xl ml-auto w-10 focus:outline-none input" placeholder="Custom input"  >
  </ion-input>
  <ion-input class="border m-10 rounded-2xl  w-10 focus:outline-none input" placeholder="Custom input"  >
  </ion-input>
  <ion-input class="border m-10 rounded-2xl  w-10 focus:outline-none input" placeholder="Custom input"  >
  </ion-input>
  <ion-input class="border m-10 rounded-2xl  w-10 focus:outline-none input" placeholder="Custom input"  >
  </ion-input>
</div>