
  <ion-content  >

  
   
<div class="w-96 mx-auto">
  
<div>
    <ion-card lines="none" class="bg-[#3D348B]  h-72  w-full   md:w-96 mx-auto relative "  >
      <ion-card-content>
      <ion-icon class="   text-xl text-white " name="arrow-back-outline"></ion-icon>
  
      <ion-card-subtitle  class="  text-center text-white">Bangalore - local 8 hr | 80km</ion-card-subtitle>
      <ion-card-subtitle  class="  text-center text-white">22-11-2023 | 40:00 pm <br>
        <button  class="text-orange-300  border-none  mx-auto">Modify Booking</button>
      </ion-card-subtitle>
    </ion-card-content>
    </ion-card>
</div>
  <div>
    <ion-card class=" bg-orange-400  h-52 w-auto ml-4 mr-4 mx-auto  pt-4  -mt-40 ybox">
      <ion-card-subtitle class="mx-4  w-auto"> Fare Details </ion-card-subtitle>
      <ion-card class="w-auto">
      
        
  
        
  
  <ion-segment class="w-80 ml-1 flex "  value="{{segment}}" (ionChange)="changeSegment($event)">
  <button value="Inclusions"  class=" px-6  hover:bg-gray-300">
    <ion-label color="secondary ">Inclusions</ion-label>
  </button>
  <button value="Completed" class=" px-6 hover:bg-gray-300">
    <ion-label color="secondary">Completed</ion-label>
  </button>
  <button value="Cancelled"  class=" px-6 hover:bg-gray-300">
    <ion-label color="secondary">Cancelled</ion-label>
  </button>
  </ion-segment>
  <div *ngIf="segment == 'Inclusions'">
  <ion-card-subtitle class="mx-4  w-auto">
  <ul>
    <li>
      <ion-icon name="water-outline" class="pr-5 "></ion-icon> Fule Charges
    </li>
    <li>
      <ion-icon name="man-outline" class="pr-5 "></ion-icon> Driver Allowance
    </li>
    <li>
      <ion-icon name="wallet-outline" class="pr-5 "></ion-icon> Toll / State Tax
    </li>
    <li>
      <ion-icon name="newspaper-outline" class="pr-5 " ></ion-icon> GST (5%)
    </li>
   
  </ul>
  
  </ion-card-subtitle>
  
  </div>
  <div *ngIf="segment == 'Completed'" >
  Completed Works
  </div>
  <div *ngIf="segment == 'Cancelled'">
  Cancelled Works
  </div>
      </ion-card>
    </ion-card>

  </div>



  <div>
    <ion-card class=" bg-white  h-52 w-auto ml-4 mr-4 mx-auto  pt-4  ybox"></ion-card>
  </div>

</div>



</ion-content>

