<ion-content  >

  
   

    <ion-card lines="none" class="bg-[#3D348B]  h-72    md:w-96 mx-auto "  ><ion-card-content>
      <ion-icon class="   text-xl " name="arrow-back-outline"></ion-icon>
      

      <ion-card-subtitle  class="  text-center text-white">Bangalore - local 8 hr | 80km</ion-card-subtitle>
      <ion-card-subtitle  class="  text-center text-white">22-11-2023 | 40:00 pm <br>
        <button  class="text-orange-300  border-none  mx-auto">Modify Booking</button>
      </ion-card-subtitle>
      <ion-card class="absolute">
        <ion-card-subtitle class="mx-4  w-auto"> Fare Details </ion-card-subtitle>
        <ion-card class="w-72 h-44">
         xdcvgbhjkl./
      
         <ion-tabs>
          <ion-tab-bar slot="bottom">
            <ion-tab-button tab="dashboard">
              <img src="assets/icon/home.png" alt="Home">
              Home
            </ion-tab-button>
            <ion-tab-button tab="bookings">
              <img src="assets/icon/History.png" alt="bookings">
              Bookings
            </ion-tab-button>
            <ion-tab-button tab="self-drive">
              <img src="assets/icon/car.png" alt="self-drive">
              Self Drive
            </ion-tab-button>
            <ion-tab-button tab="profile">
              <img src="assets/icon/Settings.png" alt="profile">
              Account
            </ion-tab-button>
          </ion-tab-bar>
        </ion-tabs>

        </ion-card>
      </ion-card>
  
    </ion-card-content>
    
    </ion-card>
  

  
               
        
     
   
      <h1></h1>


</ion-content>

