


li{
    margin: 10px 0px 5px 1px;
}
ul{
    font-size: 0.80rem;
}
.texts{
    font-size: 0.70rem;
}
.textxs{
    font-size:  0.90rem;
}
.text_card{
    font-size: 1rem;
}
.tnc li{
    font-size: 0.70rem;
    margin: 5px 0px 5px 1px;

}