

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button> </ion-button>
    </ion-buttons>
    <ion-title class="text-center">Register</ion-title>
    <ion-buttons slot="end">
      <ion-button>  </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
  <ion-content>
    <img style="margin-bottom: -110px; margin-top: -70px;" src="assets/icon/logo.png" class="mx-auto">
   
    <ion-item  lines="none">
      <ion-label  class="my-0">
       First Name
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-input  placeholder="Enter First Name" type="text">
      </ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label  class="my-0">
      Last Name
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-input  mode="ios" placeholder="Enter Last Name" type="text">
      </ion-input>
    </ion-item>


    <ion-item lines="none">
      <ion-label  class="my-0">
   Email
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-input  placeholder="Enter Email" type="text">
      </ion-input>
    </ion-item>



    <ion-item lines="none">
      <ion-label  class="my-0">
        Mobile
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-input  placeholder="Enter  Mobile number" type="number">
      </ion-input>
    </ion-item>




    <ion-item lines="none">
      <ion-label  class="my-0">
   OTP
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-input  placeholder="Enter OTP" type="number">
      </ion-input>
    </ion-item>

    <ion-button style="margin-left: 40%;" mode="ios">Register</ion-button>
</ion-content>
 
