

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button> </ion-button>
    </ion-buttons>
    <ion-title class="text-center">Regisster</ion-title>
    <ion-buttons slot="end">
      <ion-button>  </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
  <ion-content>
    <img  src="assets/logo.jpeg" class="mx-auto">
    <ion-item style="margin-left: 20%; margin-right: 20%;" lines="none">
        <ion-label style="margin-left: 20%;" class="my-0">
         First Name
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-input style="margin-left: 20%;" placeholder="Enter First Name" type="text">
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label style="margin-left: 20%;" class="my-0">
        Last Name
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-input style="margin-left: 20%;" mode="ios" placeholder="Enter Last Name" type="text">
        </ion-input>
      </ion-item>


      <ion-item lines="none">
        <ion-label style="margin-left: 20%;" class="my-0">
     Email
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-input style="margin-left: 20%;" placeholder="Enter Email" type="text">
        </ion-input>
      </ion-item>



      <ion-item lines="none">
        <ion-label style="margin-left: 20%;" class="my-0">
          Mobile
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-input style="margin-left: 20%;" placeholder="Enter  Mobile number" type="number">
        </ion-input>
      </ion-item>




      <ion-item lines="none">
        <ion-label style="margin-left: 20%;" class="my-0">
     OTP
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-input style="margin-left: 20%;" placeholder="Enter OTP" type="number">
        </ion-input>
      </ion-item>

      <ion-button expand="block" mode="ios">Regisster</ion-button>
  </ion-content>
