<ion-header >
  <ion-toolbar color="primary">
    <ion-title>Bookings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-segment value="{{segment}}" (ionChange)="changeSegment($event)">
    <ion-segment-button value="Upcoming" >
      <ion-label color="secondary">Upcoming</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Completed">
      <ion-label color="secondary">Completed</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Cancelled">
      <ion-label color="secondary">Cancelled</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div *ngIf="segment === 'Upcoming'">
    <ion-card color="">
      <ion-item class="text-gray-500">
        Journey Date:
        <ion-badge color="secondary" slot="end">Pending</ion-badge>
      </ion-item>
      <ion-item class="text-gray-500" >
        <ion-icon name="arrow-forward-circle"></ion-icon> Pickup Location:
      </ion-item>
      <ion-item class="text-gray-500" >
        <ion-icon name="arrow-back-circle"></ion-icon> Drop Location:
      </ion-item>
      <ion-item class="text-gray-500" >
        Total Fare:
      </ion-item>
      <ion-item class="text-gray-500">

      </ion-item>
    </ion-card>
  </div>
  <div *ngIf="segment === 'Completed'">
    Completed Works
  </div>
  <div *ngIf="segment === 'Cancelled'">
    Cancelled Works
  </div>
</ion-content>