<ion-header >
  <ion-toolbar color="primary">
    <ion-title>Bookings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-segment value="{{segment}}" (ionChange)="changeSegment($event)">
    <ion-segment-button value="Upcoming" >
      <ion-label color="secondary">Upcoming</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Completed">
      <ion-label color="secondary">Completed</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Cancelled">
      <ion-label color="secondary">Cancelled</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div *ngFor="let item of list">
  <div *ngIf="segment === 'Upcoming'" >
    <ion-card color="">
      <ion-item class="text-gray-500">
        Journey Date:{{item.fromDate}}
        <div *ngIf="item.status =='pending'">
        <ion-badge color="secondary" slot="end"  >Pending</ion-badge>
      </div>
      <div *ngIf="item.status =='approve'">
        <ion-badge color="secondary" slot="end"  >Approve</ion-badge>
      </div>
      </ion-item>
      <ion-item class="text-gray-500" >
        <ion-icon name="arrow-forward-circle"></ion-icon> Pickup Location:{{item.pickupLocation}}
      </ion-item>
      <ion-item class="text-gray-500" >
        <ion-icon name="arrow-back-circle"></ion-icon> Drop Location:{{item.dropLocation}}
      </ion-item>
      <ion-item class="text-gray-500" >
        Total Fare:{{item.totalFare}}
      </ion-item>
      <ion-item class="text-gray-500">

      </ion-item>
    </ion-card>
  </div>
  </div>
  <div *ngIf="segment === 'Completed'">
    Completed Works
  </div>
  <div *ngIf="segment === 'Cancelled'">
    Cancelled Works
  </div>
</ion-content>