<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <img src="assets/icon/home.png" alt="Home">
      Home
    </ion-tab-button>
    <ion-tab-button tab="bookings">
      <img src="assets/icon/History.png" alt="bookings">
      Bookings
    </ion-tab-button>
    <ion-tab-button tab="self-drive">
      <img src="assets/icon/car.png" alt="self-drive">
      Self Drive
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <img src="assets/icon/Settings.png" alt="profile">
      Account
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>