
<ion-header>
  <ion-toolbar color="primary">
    <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="UpdateSearchResults()" placeholder="Search for a place"  (ionClear)="ClearAutocomplete()"></ion-searchbar>
  </ion-toolbar>

</ion-header>
<ion-content> 
  <ion-list [hidden]="searchesData.length === 0" >
    <ion-item *ngFor="let item of searchesData" tappable (click)="SelectSearchResult(item)" [(ngModel)]="selectedPlace" >
      {{ item.label }}  
    </ion-item>
  </ion-list>
</ion-content>
