<ion-content>
  <div class="md:w-[580px] w-full mx-auto">
    <ion-card class="rounded-2xl p-2">
      <ion-card-subtitle class="pl-2">Representativ Images
        <hr>
      </ion-card-subtitle>
      <ion-segment class="grid grid-cols-6 bg-white ">
        <div class=" col-span-4  h-48 p-2"> <img src="assets/icon/select-car.png" class="h-full rounded-2xl"></div>
        <div class=" col-span-2 grid-rows-6">
          <img src="assets/icon/select-car.png" class=" row-span-3 h-1/2 rounded-2xl ">
          <img src="assets/icon/select-car.png" class=" row-span-3 h-1/2 rounded-2xl ">
        </div>

      </ion-segment>
      <ion-segment class="text-start px-4 py-2">
        <ion-card-subtitle>
          <span class="font-extrabold text-black">{{dataservice.cdata.brandName}} </span>
          <span class=" text-gray-700">or Similar</span>
        </ion-card-subtitle>
        <ion-card-subtitle>
          <span class=" text-black">₹ {{dataservice.totalAmount}}</span>

        </ion-card-subtitle>
      </ion-segment>
    </ion-card>

    <ion-card class="rounded-2xl p-2 ">
      <ion-card-subtitle class="pl-2 ">Important Information
        <hr>
      </ion-card-subtitle>
      <ion-segment class="  ">
        <ion-card class="grid grid-cols-8 rounded-2xl p-2  border-black">
          <img src="assets/icon/location.png" class=" w-7 mx-2 pt-1">
          <ion-card-subtitle class="pl-2 text-start col-span-7"> <span class="font-bold text-black"><span>{{dataservice.cdata.packageKm}}</span>km
              included. </span>
            <span class="text-[0.8em] text-black">after <span>300</span>km extra usage to be charged at
              ₹<span>{{dataservice.cdata.ratePerKm}}</span>/km to be paid directly to driver.</span>
          </ion-card-subtitle>
        </ion-card>
        <ion-card class="grid grid-cols-8 rounded-2xl p-3  border-black">
          <ion-card-subtitle class="col-span-8 text-start line ">
            included in your fare
          </ion-card-subtitle>
          <img src="assets/icon/location.png" class=" w-7 h-7 mt-3  p-1 rounded-full     bg-green-200">
          <ion-card-subtitle class="p-1 text-start col-span-7 "> <span class=" text-xs	 text-black "><span>300</span>km
              included.<span class="text-[10px]"> <br>Estimated Distance</span></span> </ion-card-subtitle>

          <img src="assets/icon/mony.png" class=" w-7 h-7 mt-3  p-1 rounded-full  bg-green-200">
          <ion-card-subtitle class="p-1 text-start col-span-7 "> <span class=" text-xs	 text-black ">state Tax.<span
                class="text-[10px]"> <br>As applicable</span></span> </ion-card-subtitle>

          <img src="assets/icon/mony.png" class=" w-7 h-7 mt-3  p-1 rounded-full  bg-green-200">
          <ion-card-subtitle class="p-1 text-start col-span-7 "> <span class=" text-xs	 text-black ">Toll Charges.<span
                class="text-[10px]"> <br>As applicable</span></span> </ion-card-subtitle>


        </ion-card>

      </ion-segment>
     
    </ion-card>
    <ion-button class="w-full" (click)="bookCar()">
      BOOK CAR
    </ion-button>

  </div>
</ion-content>
