<ion-content >
  <ion-card-header color="primary"*ngFor="let item of list" >
  <div class="flex" >
    <img src="/assets/icon/user1.avif" width="20%" alt="" height="20%" class="rounded-3xl">
    <div><h1 class="flex-1 p-2">{{item.name}} <button><ion-icon name="pencil"></ion-icon></button></h1>
    <h1 class="p-2">{{item.mobile}}</h1></div>

  </div>
</ion-card-header>
<ion-card class="shadow-none m-0">
  <ion-card-header>
    <ion-card-subtitle class="card-item"
      >Preferances & Settings</ion-card-subtitle
    >
  </ion-card-header>
    <ion-list >
      <ion-item>
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label class="card-item">Settings</ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item >
        <ion-icon name="newspaper-outline"></ion-icon>
        <ion-label class="card-item">Policies</ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item >
        <ion-icon name="log-out-outline"></ion-icon>
        <ion-label class="card-item" color="danger">Logout</ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-list>
  
</ion-card>
</ion-content>