.card-item{
    margin-left: 10px;
}
.profile-photo{
    border-radius: 500px;
    height: 100px;
    width: 100px;
}
.user-no{
    display: block;
}

.credits{
    margin-left: 10%;
    border-left: 1px solid gray;
}
.points
{
    margin-left: 10%;
    border-left: 1px solid gray;
}