
<ion-card color="primary">
  <ion-item color="primary" class=" mt-4 justify-center" >
    <img
      class="profile-photo"
      alt="Silhouette of mountains"
      src="assets/icon/profile.jpg"
    /> 
  </ion-item>
  <br>
  <ion-item class="user-no" color="secondary" class="mx-2">
    <ion-label class="card-item">User Name</ion-label>
    </ion-item>
    <br>
    <ion-item color="secondary" class="mx-2 mb-2">
    <ion-label class="card-item">1234567890</ion-label>
  </ion-item>
</ion-card>

<img src="assets/icon/logo.png" class="mx-auto ">

<ion-card class="" color="primary">
  <ion-card-header>
    <ion-card-subtitle class="card-item"
      >Preferances & Settings</ion-card-subtitle
    >
  </ion-card-header>
  <ion-card-content color="secondary" >
    <ion-list color="secondary">
      <ion-item color="secondary">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label class="card-item">Settings</ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item color="secondary">
        <ion-icon name="newspaper-outline"></ion-icon>
        <ion-label class="card-item">Policies</ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item color="secondary">
        <ion-icon name="log-out-outline"></ion-icon>
        <ion-label class="card-item" color="danger">Logout</ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
