<ion-content mode="ios">
  <div class="h-72 bg-[#3D348B] relative">
    <h2 class="pt-10 ml-7 font-bold text-2xl text-white">Hey Jhon!</h2>
    <br />
    <span class="ml-7 font-bold text-xl text-white"
      >Where do you want to go?</span
    >
    <div class="relative">
      <ion-card color="secondary" mode="ios" class="m-6 w-auto">

        
        <ion-card-content>
          <ion-item lines="none" color="light" class="rounded">
            <ion-icon name="pin" slot="start" color="primary"></ion-icon>
            <ion-input
              label="Pickup Location"
              labelPlacement="stacked"
              class="text-[#3D348B]"
              color="primary"

              [routerLink]="['/tabs/dashboard/page']">
            </ion-input>
          </ion-item>
          <ion-item lines="none" color="light" class="rounded">
            <ion-icon
              name="navigate-circle"
              slot="start"
              color="primary"
            ></ion-icon>
            <ion-input
              label="Drop Location"
              labelPlacement="stacked"
              class="text-[#3D348B]"
              color="primary"
             
            >
            </ion-input>
          </ion-item>
          <ion-item lines="none" color="light" class="rounded">
            <ion-icon name="calendar" slot="start" color="primary"></ion-icon>
            <ion-input
              label="Pickup Date & Time"
              (click)="timeOpen()"
              placeholder="{{ selectedTime | date : 'dd MMM, yyyy , hh mm' }}"
              labelPlacement="stacked"
              class="text-[#3D348B]"
              color="primary"
            >
            </ion-input>
            <ion-modal [isOpen]="istimeOpen">
              <ng-template>
                <ion-header>
                  <ion-toolbar>
                    <ion-title>Select Date</ion-title>
                    <ion-buttons slot="end">
                      <ion-button (click)="timeOpen()">Close</ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                  <ion-datetime
                    showDefaultButtons="true"
                    [(ngModel)]="selectedTime"
                  ></ion-datetime>
                </ion-header>
              </ng-template>
            </ion-modal>
          </ion-item>
          <ion-item lines="none" color="light" class="rounded">
            <ion-checkbox
              name="calendar"
              slot="start"
              color="primary"
              class="rounded-none"
              (ionChange)="setFromOpen()"
            ></ion-checkbox>
            <ion-input
              label="I need a round trip"
              placeholder="{{ selectedDate | date : 'dd MMM, yyyy ,hh  mm' }}"
              labelPlacement="stacked"
              class="text-[#3D348B]"
              color="primary"
            >
            </ion-input>
            <ion-modal [isOpen]="isFromDateModalOpen">
              <ng-template>
                <ion-header>
                  <ion-toolbar>
                    <ion-title>Select Date</ion-title>
                    <ion-buttons slot="end">
                      <ion-button (click)="setFromOpen()">Close</ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                  <ion-datetime
                    showDefaultButtons="true"
                    [(ngModel)]="selectedDate"
                  ></ion-datetime>
                </ion-header>
              </ng-template>
            </ion-modal>
          </ion-item>

          <ion-button mode="ios" expand="block" class="mt-2">Find</ion-button>
        </ion-card-content>
      </ion-card>
      <h1></h1>
    </div>
  </div>
</ion-content>
