.custom {
    --background: #a09ea3;
    --color: #fff;
    --placeholder-color: #B15EFF;
    --placeholder-opacity: 0.8;

    --padding-end: 120px;
    --padding-start: 10px;
    --padding-top: 10px;
    
  }
