<ion-content mode="ios">
  <div class="h-72 bg-[#3D348B] relative">
    <h2 class="pt-10 ml-7 font-bold text-2xl text-white">Hey Jhon!</h2>
    <br />
    <span class="ml-7 font-bold text-xl text-white"
      >Where do you want to go?</span
    >
    <div class="relative">
      <ion-card color="secondary" mode="ios" class="m-6 w-auto">
        <ion-card-content>
          <ion-item lines="none" color="light" class="rounded">
            <ion-icon name="pin" slot="start" color="primary"></ion-icon>
            <ion-input
              label="Pickup Location"
              labelPlacement="stacked"
              class="text-[#3D348B]"
              color="primary"
              placeholder="{{ selectedPlace }}"
              (click)="placesOpen()"
            >
            </ion-input>

            <ion-modal [isOpen]="isPlacesOpen">
              <ng-template>
                <ion-header>
                  <ion-toolbar color="primary">
                    <ion-searchbar
                      class="mt-3"
                      [(ngModel)]="autocomplete.input"
                      (ionInput)="UpdateSearchResults()"
                      placeholder="Search for a place"
                      (ionClear)="ClearAutocomplete()"
                    ></ion-searchbar>
                  </ion-toolbar>
                </ion-header>
                <ion-content>
                  <ion-list>
                    <ion-item
                      *ngFor="let item of searchesData"
                      tappable
                      (click)="SelectSearchResult(item)"
                      (click)="placesOpen()"
                    >
                      {{ item.label }}
                    </ion-item>
                  </ion-list>
                </ion-content>
              </ng-template>
            </ion-modal>
          </ion-item>
          <hr>
          <!-- drop location -->
          <ion-item lines="none" color="light" class="rounded">
            <ion-icon
              name="navigate-circle"
              slot="start"
              color="primary"
            ></ion-icon>
            <ion-input
              label="Drop Location"
              labelPlacement="stacked"
              class="text-[#3D348B]"
              color="primary"
              (click)="placesDrop()"
              placeholder="{{ dropPlace }}"
            >
            </ion-input>
            <ion-modal [isOpen]="isPlacesDrop">
              <ng-template>
                <ion-header>
                  <ion-toolbar color="primary">
                    <ion-searchbar
                      class="mt-3"
                      [(ngModel)]="autocomplete.input"
                      (ionInput)="UpdateSearchResults()"
                      placeholder="Search for a place"
                      (ionClear)="ClearAutocomplete()"
                    ></ion-searchbar>
                  </ion-toolbar>
                </ion-header>
                <ion-content>
                  <ion-list>
                    <ion-item
                      *ngFor="let item of searchesData"
                      tappable
                      (click)="SelectSearchResults(item)"
                      (click)="placesDrop()"
                    >
                      {{ item.label }}
                    </ion-item>
                  </ion-list>
                </ion-content>
              </ng-template>
            </ion-modal>
          </ion-item>
          <hr>
          <!-- date & Time -->
          <ion-item lines="none" color="light" class="rounded">
            <ion-icon name="calendar" slot="start" color="primary"></ion-icon>
            <ion-input
              label="Pickup Date & Time"
              (click)="timeOpen()"
              placeholder="{{ selectedTime | date : 'dd MMM, yyyy , hh mm' }}"
              labelPlacement="stacked"
              class="text-[#3D348B]"
              color="primary"
            >
            </ion-input>
            <ion-modal [isOpen]="istimeOpen">
              <ng-template>
                <ion-header>
                  <ion-toolbar>
                    <ion-title>Select Date</ion-title>
                    <ion-buttons slot="end">
                      <ion-button (click)="timeOpen()">Close</ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                  <ion-datetime
                    showDefaultButtons="true"
                    [(ngModel)]="selectedTime"
                  ></ion-datetime>
                </ion-header>
              </ng-template>
            </ion-modal>
          </ion-item>
           <hr><hr>
          <!-- round trip -->
          <ion-item lines="none" color="light" class="rounded">
            <ion-checkbox
              name="calendar"
              slot="start"
              color="primary"
              class="rounded-none"
              (ionChange)="setFromOpen()"
            ></ion-checkbox>
            <ion-input
              label="I need a round trip"
              placeholder="{{ selectedDate | date : 'dd MMM, yyyy ,hh  mm' }}"
              labelPlacement="stacked"
              class="text-[#3D348B]"
              color="primary"
            >
            </ion-input>
            <ion-modal [isOpen]="isFromDateModalOpen">
              <ng-template>
                <ion-header>
                  <ion-toolbar>
                    <ion-title>Select Date</ion-title>
                    <ion-buttons slot="end">
                      <ion-button (click)="setFromOpen()">Close</ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                  <ion-datetime
                    showDefaultButtons="true"
                    [(ngModel)]="selectedDate"
                  ></ion-datetime>
                </ion-header>
              </ng-template>
            </ion-modal>
          </ion-item>

          <ion-button mode="ios" expand="block" class="mt-2" (click)="find()"
            >Find</ion-button
          >
        </ion-card-content>
      </ion-card>

      <ion-item button="true">
        <ion-label>
          <span>Pune to Mumbai</span>
          <p>162 kms -Extra fee ₹17.5/km after 162 km</p>
        </ion-label>
        <ion-label slot="end">
          <span> 5789</span>
        </ion-label>
      </ion-item>

      <ion-item button="true">
        <ion-label>
          <span>Pune to Mumbai</span>
          <p>162 kms -Extra fee ₹17.5/km after 162 km</p>
        </ion-label>
        <ion-label slot="end">
          <span> 5789</span>
        </ion-label>
      </ion-item>

      <ion-item button="true">
        <ion-label>
          <span>Pune to Mumbai</span>
          <p>162 kms -Extra fee ₹17.5/km after 162 km</p>
        </ion-label>
        <ion-label slot="end">
          <span> 5789</span>
        </ion-label>
      </ion-item>

      <ion-item button="true">
        <ion-label>
          <span>Pune to Mumbai</span>
          <p>162 kms -Extra fee ₹17.5/km after 162 km</p>
        </ion-label>
        <ion-label slot="end">
          <span> 5789</span>
        </ion-label>
      </ion-item>

      <ion-item button="true">
        <ion-label>
          <span>Pune to Mumbai</span>
          <p>162 kms -Extra fee ₹17.5/km after 162 km</p>
        </ion-label>
        <ion-label slot="end">
          <span> 5789</span>
        </ion-label>
      </ion-item>

      <ion-item button="true">
        <ion-label>
          <span>Pune to Mumbai</span>
          <p>162 kms -Extra fee ₹17.5/km after 162 km</p>
        </ion-label>
        <ion-label slot="end">
          <span> 5789</span>
        </ion-label>
      </ion-item>

      <ion-item button="true">
        <ion-label>
          <span>Pune to Mumbai</span>
          <p>162 kms -Extra fee ₹17.5/km after 162 km</p>
        </ion-label>
        <ion-label slot="end">
          <span> 5789</span>
        </ion-label>
      </ion-item>

      <ion-item button="true">
        <ion-label>
          <span>Pune to Mumbai</span>
          <p>162 kms -Extra fee ₹17.5/km after 162 km</p>
        </ion-label>
        <ion-label slot="end">
          <span> 5789</span>
        </ion-label>
      </ion-item>

      <ion-item button="true">
        <ion-label>
          <span>Pune to Mumbai</span>
          <p>162 kms -Extra fee ₹17.5/km after 162 km</p>
        </ion-label>
        <ion-label slot="end">
          <span> 5789</span>
        </ion-label>
      </ion-item>

      <ion-item button="true">
        <ion-label>
          <span>Pune to Mumbai</span>
          <p>162 kms -Extra fee ₹17.5/km after 162 km</p>
        </ion-label>
        <ion-label slot="end">
          <span> 5789</span>
        </ion-label>
      </ion-item>

      <div class="mx-auto">
        <ion-label>
          <h4>Car Rentals</h4>
          <p>
            Car rental services are a convenient way to get around without using
            your vehicle or resorting to public transport. With a car rental,
            you can explore a city, take a much-needed road trip and make
            spontaneous getaways possible. Gone are the days when owning a car
            was a necessity. Today, choosing a car hire gives you all the
            mobility and privacy you need, without digging deep into your
            pockets.
          </p>
        </ion-label>

        <ion-label>
          <h4>Bus Hire is now Ryde!</h4>
          <p>
            To help our customers connect better with our products and services,
            Bus Hire is now Ryde! Offering tempo traveller rentals, buses for
            rent, car rentals and more, join us on this journey as you explore
            the plethora of rental options available that best suit your travel
            needs!
          </p>
        </ion-label>

        <ion-label>
          <h4>Unlock Guidelines for Car Rental in India</h4>
          <p>
            COVID-19 restrictions are relaxing in several places around India.
            It means that travel is becoming easier. To ensure complete safety,
            you can rent cars that are sanitized and well maintained. Car rental
            service is available on redBus, and you can book it while following
            all the pandemic related guidelines. Following are some unlocking
            guidelines that you need to remember while booking a car rental on
            redBus - Luxury cars are available for car rental in several cities
            around India. People travelling across states may have to submit the
            RT-PCR test report. Tourists should refer to the guidelines for
            specific locations and adhere to them while travelling. For travel
            via car within the state, double vaccine shots might be necessary.
            The protocols change from state to state, and it is important to
            check them before renting a car. A temperature check is conducted
            for all passengers and the driver before the start of the journey.
            All cars available on redBus can only be rented if all safety
            protocols are maintained. redBus provides cars with skilled drivers
            who follow all guidelines during the journey. Passengers are also
            encouraged to use the sanitisers available in the vehicle. Drivers
            and passengers have to wear masks while travelling. In this unlock
            phase, cities like Hyderabad, Bangalore, Madurai and Visakhapatnam
            have opened tourist destinations. You can rent cars from redBus for
            road trips, pilgrimages, and family programs. Car rental service is
            also available for inter-state business trips. In several cities,
            public transport is still functioning at a limited capacity. Opting
            for a car rental service is a better option as it is safer. Groups
            of 4, 5 or 7 people can rent a car for travel.
          </p>
        </ion-label>
        <ion-label>
          <h4>Key Points to Remember about Car Rental</h4>
          <p>
            Car rental services provide you with the perfect opportunity to
            enjoy spontaneous getaways without having to worry about the timings
            of any public transportation vehicles. Choosing a self drive car
            rental service or even a Ryde car rental with the driver will allow
            you to have a flexible travel plan and the privacy you and your
            family would require! A few key points you need to remember about
            the Ryde car rental are: There are many reasons why you should go
            for the car rental near me option, and these include freedom of
            movement, the fact that they are readily available, are economical,
            and that they can be quickly booked online! Customers can insure
            their trip by paying a small fee of about Rs. 40 when booking a car
            so that redBus can cover you in case an unfortunate event takes
            place. There are three main types of car rentals offered in Ryde,
            and these include 4-seaters, 5-seaters, and 7-seaters. For occasions
            that require a show of class, customers can hire luxury cars from
            Ryde. Ryde’s car rental services are offered in most major cities
            and pilgrimage points, including Bengaluru, Mumbai, Chennai, Kochi,
            Tirupati, Goa, and many more! The drivers and the vehicles you see
            on the website are approved by redBus and are chosen based on the
            ratings of past customers. The car you choose on the Ryde platform
            will be the same car provided to you. If redBus failed to provide
            you with the same vehicle you chose, you would get a refund of 25%.
            Ryde car rental can be quickly booked online on the redBus app or
            website, meaning that you are only a click away from your ideal road
            trip! All the vehicles provided by Ryde are checked and disinfected
            for the complete safety of the customers!
          </p>
        </ion-label>
        <ion-label>
          <h4>Why Should You Hire a Car?</h4>
          <p>
            There are many benefits of opting for a car rental over other
            popular modes of public transport. Freedom of movement: Public
            transport only services selected routes and stops, but with car
            hire, you can get from point A to point B directly, making as many
            stops as you want along the way. Car rental services are readily
            available: A quick search for car rental near me will pull up scores
            of options, including those on redBus. You will be able to book one
            at nearly any time of the day while also staying within your budget
            and being mindful of the number of passengers. Car hire services are
            economical: You can enjoy the convenience of a car journey without
            having to buy one or make other permanent decisions. You are able to
            select a vehicle based on your budget and choose a preferred car
            model. With redBus, you can also avail great deals and discounts on
            your car booking. Choose a self-drive car rental or rent a car with
            a driver: Depending on how inclined you are to drive on this road
            trip, you can choose to book a car with a skilled driver. If youre
            in an unfamiliar city, a driver will know all the areas and the
            fastest routes. You can also choose to turn the wheel over to a
            professional driver to focus on work, phone calls, or simply gazing
            out the window. Easy online car booking: Today, you no longer need
            to go to a travel agent to book a car. All you need to do is log
            onto redBus and explore the variety of options available. You can
            pay through a secure portal using your preferred payment method and
            have 24/7 customer care support available to help!
          </p>
        </ion-label>
        <ion-label>
          <h4>Types of Cars Available For Rent</h4>
          <p>
            Just like one size doesnt fit all, one car cant be used in various
            situations and environments. For example, you cant drive a small
            hatchback over rugged roads without ruining the vehicle; similarly,
            you cant have more than five people sit comfortably in a sedan. For
            a shopping trip or a one-person car ride, it seems wasteful to book
            out a massive SUV. Luckily, with redBus car rental services, you
            have various car models to choose from, depending on your budget and
            your use for the car. Heres a glimpse of seating arrangements and
            car models available: 4-seaters: Ford Figo, Hyundai Grand i10, Tata
            Indica, Maruti Swift, Honda Brio 5-seaters: Volkswagen Polo, Honda
            City, Maruti Ciaz, Honda Jazz, Honda Amaze, Ford Aspire. Ford
            EcoSport 7-seater SUVs: Mahindra XUV500, Toyota Fortuner, Mahindra
            Scorpio, Toyota Innova, Ford Endeavour, Tata Hexa You will also be
            able to choose whether you prefer AC or non-AC cars for your
            journey. This influences not only the price of your rental but also
            your travel experience. All vehicles are highly safe to travel in
            and are equipped with essential safety features.
          </p>
        </ion-label>
        <ion-label>
          <h4>A few reasons to book with Ryde</h4>
          <p>
            With Ryde, customers have a plethora of vehicles to choose from such
            as tempo travellers, luxury cars such as Audis, luxury sedans,
            hatchbacks, minibuses and much more. Prices match quality where Ryde
            vehicles that are clean and safe are provided at affordable rates.
            Prices are kept transparent which means that the price that a
            customer sees on the platform would be the price that they have to
            pay. There are no hidden charges that the customer would have to
            pay. Vehicles come with well-trained drivers and staff who can help
            make your journey a lot more comfortable. Customer support with Ryde
            is unmatched with their 24/7 customer service along with the
            availability of a chat and call-back facility. In-trip feedback
            support is also provided with Ryde. Live tracking is available which
            can help you and your loved ones know where exactly the vehicle is
            located during the journey. Along with these key advantages,
            customers can find vehicles offered by Ryde certified partners as
            well. Customers can easily distinguish between Ryde vehicles and
            regular vehicles by looking for the “Ryde Certified Partner” icon
            that would be available against the vehicle option. Some of the
            unique distinctions between Ryde vehicles from the regular vehicles
            that are offered are that Ryde vehicles come with drivers in
            uniform, good music, and amazing goodies that would come in handy on
            your journey.
          </p>
        </ion-label>

        <ion-label>
          <h4>Advantages of Car for Hire with redBus</h4>
          <p>
            redBus is Indias leading travel facilitating platform, with a
            substantial presence in international countries such as Singapore,
            Malaysia, Indonesia, Columbia, and Peru. When you book a car hire
            with redBus, youll experience the following perks: Economical
            prices: redBus offers competitive pricing models without
            compromising on safety and comfort. Deals and discounts: The coupons
            and voucher codes you get on redBus significantly slash your car
            rental prices, making sure you travel with style and on a budget.
            Secure payments: The redBus payment portal is certified by VeriSign
            and is secured with the highest encryption levels. You will be able
            to pay with credit or debit cards, bank transfers, and valid payment
            apps. Helpful customer care: Should you face any hiccups during the
            booking process, the redBus customer care desk will help you. When
            you make an online car booking with redBus, you say yes to comfort,
            convenience, and freedom of movement. redBus makes the care rental
            process a lot easier by keeping the customer informed about the car
            they are booking, the amenities available on the bus, things to keep
            in mind, etc. redBus is dedicated to ensuring that a passenger has
            the best car rental experience, which is why redBus does whatever it
            can to connect the customer with car aggregators who are rated well.
            Customers are advised to view the cancellation policies before
            making a booking. So, what are you waiting for? Login to the redBus
            app now as you explore your one-stop destination for car rentals in
            your city!
          </p>
        </ion-label>
        <ion-label>
          <h4>You can hire a bus from redBus online</h4>
          <h4>following these steps:</h4>
          <p>
            Go to the redBus portal and enter 'City of Hire,''Starting Point' &
            'Destination' Click search redBus will bring the best operators at
            affordable prices Select the bus operator and confirm the booking
          </p>
        </ion-label>
        <ion-label>
          <h4>Benefits of Booking A Bus Online</h4>
          <p>
            When you book online, the following benefits are offered: Inventory
            - Access to leading vehicle providers in the city Zero booking fee -
            Transparent booking. No hidden fee Choose vehicle - Check vehicle
            images before making any choice
          </p>
        </ion-label>
        <ion-label>
          <h4>Car Rental Near Me</h4>
          <p>
            Car rental services are available in popular and highly-frequented
            cities across India. To find the nearest car rental, you can run a
            quick search for car rental near meor look through redBus listings
            for more information. Here are some cities you can opt for car hire
            with redBus: Bengaluru Mangalore Mumbai Pune New Delhi Chennai
            Hyderabad Bhopal Indore Jabalpur Kochi Ernakulam Goa Tirupati
          </p>
        </ion-label>
      </div>
    </div>
  </div></ion-content
>
