<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="text-center"> Outstation Cabs </ion-title>
    <ion-buttons slot="end">
      <ion-button></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <hr class="h-0.5 mx-9 mt-2 bg-[#7133FF] border-t-0" />
  <ion-item class="text-center" lines="none">
    <ion-label class="text-lg font-bold text-center"
      >INDIA'S TOP RATED RENTAL CAR SERVICE</ion-label
    >
  </ion-item>
  <hr class="h-0.5 mx-9 mb-2 bg-[#7133FF]" />
  <ion-item>
    <ion-input
      label="FROM"
      placeholder="Start typing city"
      (click)="addCity()"
    ></ion-input>
    <ion-modal [isOpen]="isaddCityOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title></ion-title>
            <ion-buttons slot="end">
              <ion-searchbar placeholder="Search City"></ion-searchbar>
              <ion-button (click)="addCity()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
      </ng-template>
    </ion-modal>
  </ion-item>
  <ion-item>
    <ion-input
      label="TO"
      placeholder="Start typing city"
      (click)="toCity()"
    ></ion-input>
    <ion-modal [isOpen]="istoCityOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title></ion-title>
            <ion-buttons slot="end">
              <ion-searchbar placeholder="Search City"></ion-searchbar>
              <ion-button (click)="toCity()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
      </ng-template>
    </ion-modal>
  </ion-item>
  <ion-item>
    <ion-input
      label="PICK UP"
      placeholder="{{selectedDate | date:'dd MMM, yyyy'}}"
      (click)="setFromOpen()"
    ></ion-input
    ><ion-icon (click)="setFromOpen()" name="calendar-outline"></ion-icon>
    <ion-modal [isOpen]="isFromDateModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Select Date</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setFromOpen()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
          <ion-datetime showDefaultButtons="true" presentation="date" [(ngModel)]="selectedDate"></ion-datetime>
        </ion-header>
      </ng-template>
    </ion-modal>
  </ion-item>
  <ion-item>
    <ion-input
      label="PICK UP AT"
      placeholder="{{selectedTime| date :'hh:mm a'}}"
      (click)="timeOpen()"
    ></ion-input>
    <ion-icon name="time-outline" (click)="timeOpen()"></ion-icon>
    <ion-modal [isOpen]="istimeOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Select Time</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="timeOpen()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
          
        </ion-header>
        <ion-content>
          <ion-datetime style="max-width: 100%;" presentation="time" hourCycle="h12" showDefaultButtons="true" [(ngModel)]="selectedTime"></ion-datetime>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-item>
</ion-content>
